<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

    <!--Conexion Produccion-->
    <!--<add name="Integra.Services.Data.Kaizen" connectionString="Data Source=192.168.14.16\kzintegra; Initial Catalog=kaizen_prod; User ID=sa; Password=ekup=i2o" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.QProcess" connectionString="Data Source=34.209.227.21;Initial Catalog=IntegraSoluglob; User ID=soluglob;Password=s0lugl0b1nt3gr4" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobChecador" connectionString="Data Source=192.168.68.252,1434;Initial Catalog=Checador; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobAdministrativo" connectionString="Data Source=192.168.68.7;Initial Catalog=DB_Nomina; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />-->

    <!--Conexion Preproduccion-->
    <!--<add name="Integra.Services.Data.Kaizen" connectionString="Data Source=192.168.14.12\Prueba;Initial Catalog=kaizen_prod; User ID=sa;Password=admin1% " providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.QProcess" connectionString="Data Source=34.209.227.21;Initial Catalog=IntegraSoluglob; User ID=soluglob;Password=s0lugl0b1nt3gr4" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobChecador" connectionString="Data Source=187.248.46.195,1434;Initial Catalog=Checador_Prueba; User ID=integra;Password=integra2017;" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobAdministrativo" connectionString="Data Source=187.248.46.195,1434;Initial Catalog=DB_Nomina_Pueba; User ID=integra;Password=integra2017;" providerName="System.Data.SqlClient" />-->

    <!--Conexion Prueba -->
    <add name="Integra.Services.Data.Kaizen" connectionString="Data Source=192.168.14.12\Prueba;Initial Catalog=kaizen_prod; User ID=sa;Password=admin1% " providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.QProcess" connectionString="Data Source=34.209.227.21;Initial Catalog=IntegraSoluglobPruebas; User ID=soluglob;Password=s0lugl0b1nt3gr4" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobChecador" connectionString="Data Source=187.248.46.195,1434;Initial Catalog=Checador_Prueba; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobAdministrativo" connectionString="Data Source=187.248.46.195,1434;Initial Catalog=DB_Nomina_Pueba; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />
    
    <!--Conexion Anterior Soluglob-->
    <!--<add name="Integra.Services.Data.SoluglobChecador" connectionString="Data Source=187.141.7.34,1434;Initial Catalog=Checador_Prueba; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobAdministrativo" connectionString="Data Source=187.141.7.34,1434;Initial Catalog=DB_Nomina_Pueba; User ID=integra;Password=integra2017" providerName="System.Data.SqlClient" />-->

    <!--Conexion Desarrollo -->
    <!--<add name="Integra.Services.Data.Kaizen" connectionString="Data Source=192.168.14.12\TESTDESA14;Initial Catalog=kaizen_prod; User ID=sadesarrollo;Password=admin1% " providerName="System.Data.SqlClient"  />
    <add name="Integra.Services.Data.QProcess" connectionString="Data Source=192.168.14.12\TESTDESA14;Initial Catalog=IntegraSoluglobPruebas; User ID=sadesarrollo;Password=admin1%" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobChecador" connectionString="Data Source=192.168.14.12\TESTDESA14;Initial Catalog=Checador_Prueba; User ID=sadesarrollo;Password=admin1%" providerName="System.Data.SqlClient" />
    <add name="Integra.Services.Data.SoluglobAdministrativo" connectionString="Data Source=192.168.14.12\TESTDESA14;Initial Catalog=DB_Nomina_Prueba; User ID=sadesarrollo;Password=admin1%" providerName="System.Data.SqlClient" />-->

  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10240" executionTimeout="600"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding"  maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Streamed" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
      <wsHttpBinding>
        <binding name="wsBinding"  maxReceivedMessageSize="2147483647" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="svcIntegraSoluglobBehavior" name="Integra.Services.Integra_Soluglob.Integra_Soluglob">
        <endpoint address="" binding="basicHttpBinding" contract="Integra.Services.Integra_Soluglob.IIntegra_Soluglob">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="svcIntegraSoluglobBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <bufferedReceive maxPendingMessagesPerChannel="2147483647" />
        </behavior>
      </serviceBehaviors>     
    </behaviors>
   <protocolMapping>
        <add binding="basicHttpBinding" scheme="https" />
    </protocolMapping>    
  <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>  

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
